In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np

In [4]:
arr = np.array([1,2,3,4,5])
print(arr* 2)

[ 2  4  6  8 10]

In [5]:
import pandas as pd
data= {"Name":["Abdullah","Ali","Ahmed"],"Age":[23,45,67]}
df =pd.DataFrame(data)
print(df)

       Name  Age
0  Abdullah   23
1       Ali   45
2     Ahmed   67

Performing lab Tasks

In [8]:
one =1
two=2

if one> two:
   print(one)
else:
   print(two)

2

In [13]:
List =['Ali','Abdullah','Ahmed','Saad','Sanaullah']
print(List[0:3])

['Ali', 'Abdullah', 'Ahmed']

In [15]:
def func():
  on=4
  we=6
  sum=on * we
  print(sum)

output=func()
print(output)

24
None

In [16]:
arr = np.arange(1, 11)  # Numbers from 1 to 10 (inclusive)

# Calculate the sum of the array
arr_sum = np.sum(arr)

print("Array:", arr)
print("Sum:", arr_sum)

Array: [ 1  2  3  4  5  6  7  8  9 10]
Sum: 55

In [18]:
data = {
    'name': ['Ali', 'Ahmed', 'Sara', 'Zain'],
    'score': [85, 90, 95, 88]
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the first two rows
print(df[0:2])

    name  score
0    Ali     85
1  Ahmed     90

HOMEWORK Task:1

In [24]:
n= input("Enter the first two numbers\n")
print(n)
b= input("\nEnter second number\n")
print(b)
c = input("\nEnter third number\n")
print(c)
n = float(n)
b = float(b)
c = float(c)
def calculate_average(x, y, z):
     a = (x + y + z) / 3
     print("Average:", a)

calculate_average(n,b,c)

Enter the first two numbers
1
1

Enter second number
2
2

Enter third number
3
3
Average: 2.0

In [25]:
for i in range(11):
  if (i%2)==0:
    print(i)

0
2
4
6
8
10

HOME TASK:2

In [26]:
# Create a numpy array of random numbers (size 10)
random_numbers = np.random.rand(10)

# Calculate the standard deviation
std_deviation = np.std(random_numbers)

print("Random Numbers:", random_numbers)
print("Standard Deviation:", std_deviation)

Random Numbers: [0.61876262 0.4132365  0.55864135 0.11883789 0.22396389 0.95349761
 0.7994645  0.60373142 0.94795015 0.00384275]
Standard Deviation: 0.3152188824448301

In [28]:


# Load dataset from an online source (Titanic dataset from GitHub)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(url)

# Print the column names
print("Column Names:", df.columns)

# Display summary statistics for numerical columns
print("\nSummary Statistics for Numerical Columns:")
print(df.describe())

Column Names: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Summary Statistics for Numerical Columns:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Additional Tasks:

In [30]:
# Task 1.1: Accept the user's first and last name as input
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

#  Combine the names and print a welcome message
full_name = first_name  + last_name
print(f"Welcome, {full_name}!")

# Create a list of five cities and print each in uppercase
cities = ["Karachi", "Lahore", "Islamabad", "Haripur", "Syria"]

print("\nCities in uppercase:")
for city in cities:
  #using upper function for displaying it in upper case
    print(city.upper())

Enter your first name: Ali
Enter your last name: Abdullah
Welcome, AliAbdullah!

Cities in uppercase:
KARACHI
LAHORE
ISLAMABAD
HARIPUR
SYRIA

In [31]:
# Task 2.1: Function to return the maximum number from a list
def find_max(numbers):
    return max(numbers)

# Define the list of numbers
numbers = [3, 5, 8, 13, 21]

# Print the maximum number in the list
print(f"The maximum number is: {find_max(numbers)}")

# Task 2.2: Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Task 2.3: Loop to check if numbers from 1 to 20 are prime
for num in range(1, 21):
    if is_prime(num):
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

The maximum number is: 21
1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

In [32]:

# Task 3.1: Create a NumPy array of 10 random integers between 1 and 50
random_array = np.random.randint(1, 51, size=10)#putting condition of random
print(f"Random Array: {random_array}")

# Task 3.2: Calculate the sum, mean, and standard deviation of the array
array_sum = np.sum(random_array)
array_mean = np.mean(random_array)
array_std = np.std(random_array)

print(f"Sum: {array_sum}")
print(f"Mean: {array_mean}")
print(f"Standard Deviation: {array_std}")

# Task 3.3: Sort the array in ascending order and print the sorted array
sorted_array = np.sort(random_array)
print(f"Sorted Array: {sorted_array}")

Random Array: [27 15 43  4 19 14 18 48 13 22]
Sum: 223
Mean: 22.3
Standard Deviation: 12.977287852244011
Sorted Array: [ 4 13 14 15 18 19 22 27 43 48]

In [34]:

# Task 4.1: Create a Pandas DataFrame with three columns: Name, Age, and Score
data = {
    "Name": ["Ali", "Babar", "Sheharyar", "Daniyal", "Eisa"],
    "Age": [20, 21, 19, 22, 20],
    "Score": [85, 65, 78, 90, 55]
}

df = pd.DataFrame(data)

# Task 4.2: Add data for at least five students
print("Student Data:")
print(df)

# Task 4.3: Calculate the average score
average_score = df["Score"].mean()
print(f"\nAverage Score: {average_score}")

# Task 4.4: Filter out students who scored below 70
passed_students = df[df["Score"] >= 70]

# Task 4.5: Print the names of students who passed
print("\nStudents who passed (Score 70 or above):")
print(passed_students["Name"].to_string(index=False))

Student Data:
        Name  Age  Score
0        Ali   20     85
1      Babar   21     65
2  Sheharyar   19     78
3    Daniyal   22     90
4       Eisa   20     55

Average Score: 74.6

Students who passed (Score 70 or above):
      Ali
Sheharyar
  Daniyal